{% extends "admin/layout.html" %}

{% block content %}
<div class="container">
    {% include "admin/navbar.html" %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-success">
        <strong>{{ messages[0] }}</strong>
    </div>
    {% endif %}
    {% endwith %}

    <div class="d-flex justify-content-between align-items-center my-2">
        <h2>Class List</h2>
        <a href="/admin/class/add" class="btn btn-primary">Add Class</a>
    </div>

    <div class="my-2">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Course</th>
                        <th>Students</th>
                        <th style="width: 180px;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for class, subject_name in classes %}
                    <tr>
                        <td>{{ class.id_class }}</td>
                        <td>{{ class.name }}</td>
                        <td>{{ subject_name }}</td>
                        <td class="text-left">
                            <a href="/admin/class?id={{ class.id_class }}">
                                <button class="btn btn-info">See all</button>
                            </a>
                        </td>
                        <td>
                            <form action="/admin/class/delete/{{ class.id_class }}" method="POST"
                                style="display: inline; width: 180px;">
                                <button type="submit" class="btn btn-danger"
                                    onclick="return confirm('Are you sure you want to delete this class?');">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}