{% extends "admin/layout.html" %}

{% block content %}
<div class="container">
    {% include "admin/navbar.html" %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-success">
        <strong> {{ messages[0] }}</strong>
    </div>
    {% endif %}
    {% endwith %}

    <div class="d-flex justify-content-between align-items-center my-2">
        <h2>Subject List</h2>
        <a href="/admin/subject/add" class="btn btn-primary">Add Subject</a>
    </div>

    <div class="my-2">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for subject in subjects %}
                    <tr>
                        <td>{{subject.id_class}}</td>
                        <td>{{subject.name}}</td>
                        <td>{{subject.subject}}</td>
                        <td class="text-center">
                            
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>

                
            </table>
        </div>
    </div>
</div>
{% endblock content %}