{% extends "user/layout.html" %}

{% block content %}
<div class="container my-4">
    {% include 'admin/navbar.html' %}
    <h4 class="text-center mb-3">Admin Change Password</h4>
    <div class="row justify-content-center">
        <div class="col-md-6">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} text-center">{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="card">
                <div class="card-body">
                    <form action="" method="POST">

                        <div class="form-group mb-3">
                            <label><b>Enter your old password</b></label>
                            <input type="password" name="old_password" class="form-control" required>
                        </div>

                        <div class="form-group mb-3">
                            <label><b>Enter your new password</b></label>
                            <input type="password" name="password" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-success d-block mx-auto" style="width: 50%;">Change
                            Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}