{% extends 'admin/layout.html' %}
{% block content %}
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{category}}">
        <strong>{{message}}</strong>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}  

    {% include 'admin/navbar.html' %}
    <div class="container">
        <h1>Student Management System</h1>
    </div>
</div>
{% endblock content %}