<div class="container">
    <div class="row justify-content-between">
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 my-2">
            <a href="/admin/dashboard" class="btn btn-info w-full">Dashboard</a>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 my-2">
            <a href="/admin/get-all-user" class="btn btn-info w-full">All Students</a>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 my-2">
            <a href="/admin/subject/all" class="btn btn-info w-full">All Subject</a>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 my-2">
            <a href="/admin/class/all" class="btn btn-info w-full">All Class</a>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 my-2">
            <a href="/admin/change-admin-password" class="btn btn-info w-full">Change Password</a>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 my-2">
            <a href="/admin/logout" class="btn btn-danger w-full">Logout</a>
        </div>
        
    </div>
</div>