<div class="container">
    <div class="row justify-content-between">
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 my-2">
            <a href="/admin/dashboard" class="btn btn-info w-100 rounded">Dashboard</a>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 my-2">
            <a href="/admin/get-all-user" class="btn btn-info w-100 rounded">All Students</a>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 my-2">
            <a href="/admin/change-admin-password" class="btn btn-info w-100 rounded">Change Password</a>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 my-2">
            <a href="/admin/logout" class="btn btn-danger w-100 rounded">Log out</a>
        </div>
    </div>
</div>