{% extends "user/layout.html" %}



{% block content %}
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{category}}">
        <strong>{{message}}</strong>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="container">
        <h2 class="text-left my-3">
            Dashboard
        </h2>
        <div class="my-2">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Student Code</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Birth Year</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Classes</th> <!-- Thêm cột Classes -->
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>{{ users.student_code }}</td>
                            <td>{{ users.fname }}</td>
                            <td>{{ users.lname }}</td>
                            <td>{{ users.birth_year }}</td>
                            <td>{{ users.username }}</td>
                            <td>{{ users.email }}</td>
                            <td>
                                <!-- Thêm nút "See All" -->
                                <a href="/user/classes/{{ users.id }}" class="btn btn-info btn-sm">See All</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}