<nav class="navbar bg-light">
    <div class="container-fluid">
        <div class=" justify-content-between">
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 my-2">
                <a href="/user/dashboard" class="btn btn-info w-100 rounded">Dashboard</a>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 my-2">
                <a href="/user/update-profile" class="btn btn-info w-100 rounded">Update profile</a>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 my-2">
                <a href="/user/change-password" class="btn btn-info w-100 rounded">Change password</a>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 my-2">
                <a href="/user/logout" class="btn btn-danger w-100 rounded">Log out</a>
            </div>
            <!-- Thêm nút đăng ký lớp cho người dùng -->
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 my-2">
                <a href="/user/classes/available" class="btn btn-info w-100 rounded">Register for Class</a>
            </div>
        </div>
    </div>
</nav>