{% extends "user/layout.html" %}

{% block content %}
<div class="container">
    {% include 'user/navbar.html' %}

    <div class="my-2">
        <h2>{{ class_info.name }}</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Student Code</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Birth Year</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ student.student_code }}</td>
                    <td>{{ student.fname }}</td>
                    <td>{{ student.lname }}</td>
                    <td>{{ student.birth_year }}</td>
                    <td>{{ student.email }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4">No students found for this class.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}