{% extends "user/layout.html" %}

{% block content %}
<script>
    function avatarPreView(event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                const avatarImage = document.getElementById('Avatar');
                avatarImage.src = e.target.result;
            }
            reader.readAsDataURL(file);
        }
    }
</script>

<div class="wrapper">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{category}} text-center">
        <strong>{{message}}</strong>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="content">
        <div class="header">
            <h2>👤 User Profile Update</h2>
        </div>

        <div class="form-container">
            <form action="" method="post" enctype="multipart/form-data">
                <div class="form-group-first-row">
                    <div class="avatar-container">
                        {% if users.avatar %}
                            <img src="{{ url_for('uploaded_file', filename=users.avatar) }}"  alt="Avatar" class="avatar" id="Avatar">
                        {% else %}
                            <img src="https://img.icons8.com/ios/452/user.png" alt="Avatar" class="avatar-default" id="Avatar">
                        {% endif %}
                        <!-- Icon Edit -->
                        <label for="avatar-upload" class="avatar-edit-icon">
                            <i class="fa fa-pencil"></i>
                        </label>
                        <input type="file" accept=".jpg" id="avatar-upload" name="avatar" style="display:none;" onchange="avatarPreView(event)">
                    </div>
                    <div class="form-details">
                        <div class="form-group">
                            <label for="fname"><b>First name</b></label>
                            <input type="text" value="{{users.fname}}" name="fname" id="fname" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="lname"><b>Last name</b></label>
                            <input type="text" value="{{users.lname}}" name="lname" id="lname" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="birth_year"><b>Birth year</b></label>
                    <input type="number" value="{{users.birth_year}}" name="birth_year" id="birth_year" class="form-control">
                </div>

                <div class="form-group">
                    <label for="student_code"><b>Student code</b></label>
                    <input type="text" value="{{users.student_code}}" name="student_code" id="student_code" class="form-control" readonly>
                </div>

                <div class="form-group">
                    <label for="username"><b>Username</b></label>
                    <input type="text" value="{{users.username}}" name="username" id="username" class="form-control" readonly>
                </div>

                <div class="form-group">
                    <label for="email"><b>Email</b></label>
                    <input type="email" value="{{users.email}}" name="email" id="email" class="form-control">
                </div>

                <div class="form-actions text-center">
                    <button class="btn btn-success">Update Profile</button>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    body {
        margin: 0;
        padding: 0;
        background: #f9f9f9;
    }

    .wrapper {
        width: 100%;
        padding: 20px;
        background: #ffffff;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    }

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .header {
        margin-bottom: 10px;
    }

    .form-container {
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
        background: #ffffff;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-group-first-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    .avatar-container {
        width: 172px;
        height: 172px;
        overflow: hidden;
        border: 2px solid #ddd;
        margin-bottom: 15px;
        position: relative;
    }

    .avatar {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
    }

    .avatar-default {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
        background-color: #ddd;
    }

    .avatar-edit-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border-radius: 50%; /* Đảm bảo nó là hình tròn */
        width: 40px;  /* Chiều rộng của biểu tượng edit */
        height: 40px; /* Chiều cao của biểu tượng edit */
        padding: 0;   /* Bỏ padding để giữ cho chiều rộng và chiều cao bằng nhau */
        display: none;
        text-align: center;
        line-height: 40px; /* Căn giữa nội dung trong hình tròn */
        cursor: pointer;
    }



    .avatar-container:hover .avatar-edit-icon {
        display: block;
    }

    .form-details {
        flex-grow: 1;
    }

    .form-group label {
        display: block;
        margin-bottom: 5px;
    }

    .form-control {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .form-actions {
        margin-top: 20px;
    }

    .btn-success {
        background-color: #28a745;
        border: none;
        padding: 10px 20px;
        color: white;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn-success:hover {
        background-color: #218838;
    }

    .btn-danger {
        background-color: #da1a2d;
        border: none;
    }

    .btn-danger:hover {
        background-color: #bd2130;
    }
</style>

{% endblock content %}
